<div>
    <script>
    function gameUserInput(input){
        console.log("GAMEMOCK: ping, " + input);   
        userResults("pong, " + input);
    }
    </script>
    <video width="100%" height="100%" autoplay loop>
        <source src="paaspop-videos/animation-paaspop.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>